html {
    background: #99CCFF;
}

h1 {
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:normal;
}

h2 {
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:normal;
}

h3 {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:normal;
}

h4 {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:normal;
}
		
		

